:root{
    --vermelho: #e50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* BASE */

body {
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container{
    margin-top: 7px;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 35px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color:#fff;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* FILME PRINCIPAL  */
.filme-principal {
    font-size: 22px;
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)), url("../img/capa.png");
    height: 700px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: -50px;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 2rem;
}

.filme-principal .titulo {
    margin-top: 15%;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Dejavu Sans', "Charlie don't surf!", Arial, sans-serif;
}

.botaoplay {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 30px;
    margin-right: 15px;
    font-size: 14px;
    cursor: pointer;
    transition: .1s ease all;
    border-radius: 4px;
    font-weight: bold;
}

.botaoplay:hover {
    background-color: rgba(250, 250, 250, 0.8);
    color:  black;
}

.botaoinfo {
    background-color: rgba(169, 169, 169, 0.5);
    border: none;
    color: white;
    padding: 10px 30px;
    margin-right: 15px;
    font-size: 14px;
    cursor: pointer;
    transition: .1s ease all;
    border-radius: 4px;
    font-weight: bold;

}

.botaoinfo:hover{
    background-color: rgba(169, 169, 169, 0.2);
    color: white;
}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 50px;

}

.filme-principal .container{
    width: 60%;
    margin-top: -10%;

}


.filme-principal .container .descricao {
    width: 80%;
}

.box-filme {
    display: block;
    height: 100%;
    width: 100%;
    border-top: -190px;

}


.carrossel-filmes {
    margin-top: -7rem;
}

@media screen and (max-width: 700px) {
    header .container {
        display: flex;
        flex-direction: column;

    }

    header nav a {
        color: white;
    }

    .filme-principal{
        margin-top: -60px;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)), url("../img/capa.png");
        margin-left: auto;   
    }

    .filme-principal .titulo {
        font-size: 30px;
    }

    .filme-principal .container{
        margin-top: 20px;
        width:  80%;
        font-size: 16px;
        margin-bottom: 25px;
    }
    
}

@media screen and (max-width: 455px) {
    header nav a {
        color: white;
    }

    .filme-principal{
        width: 100%;
        background-size: 200%;
        background-position-x: right;
        background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0.5)), url("../img/capa.png");
    }
    
    .filme-principal .titulo {
        font-size: 30px;
        margin-top: 55px;
    }    

    .botaoinfo {
        margin-top: 9px;
        width: 210px;
    }
    
    .botaoplay {
        width: 210px;
    }

}